extends layout

block content
  h1(class="headline") #{title}
  h2 Welcome to #{title}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
     
  <br/>
  <br/>
  <br/>
  
  form(name= "Blink1", method= "post" class="container-fluid")
    div.col-xs-6
      input(type= "submit", value= "Stop" class="btn btn-danger col-md-12" formaction="/Blink/editOn")
      input(type= "submit", value= "Keep" class="btn btn-success col-md-12" formaction="/Blink/editOff")
      input(type= "submit", value= "Off" class="btn col-md-12" formaction="/Blink/off")